i

.text-dessus {
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour le texte */
    color: white; /* Couleur du texte */
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%; /* Centrer verticalement */
    left: 50%; /* Centrer horizontalement */
    transform: translate(-50%, -50%)
}